%==== Awards ====%
\cvsection{\VAR{heading}}
\begin{cvhonors}
    \BLOCK{for award in awards}
	\cvhonor
	{\BLOCK{ if award.title }\VAR{award.title}\BLOCK{ endif }}
	{\BLOCK{ if award.summary }\VAR{award.summary}\BLOCK{ endif }}
	{\BLOCK{ if award.awarder }\VAR{award.awarder}\BLOCK{ endif }}
	{\BLOCK{ if award.date }\VAR{award.date}\BLOCK{ endif }}
    \BLOCK{ endfor }
\end{cvhonors}