%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%     Experience
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\cvsection{\VAR{heading}}
\begin{cventries}
\BLOCK{ for work in works }
	\cventry
	{\BLOCK{ if work.position } \VAR{work.position} \BLOCK{ endif } }
	{\BLOCK{ if work.company } \VAR{work.company} \BLOCK{ endif } }
	{\BLOCK{ if work.location } \VAR{work.location} \BLOCK{ endif }}
	{\BLOCK{ if work.startDate} \VAR{work.startDate} - \BLOCK{ endif } \BLOCK{ if work.endDate} \VAR{work.endDate} \BLOCK{ endif }}
	{\BLOCK{ if work.highlights } \begin{cvitems} \BLOCK{ for highlight in work.highlights }
		\item \VAR{highlight}
		\BLOCK{ endfor } \end{cvitems} \BLOCK{ endif }}
\BLOCK{ endfor }
\end{cventries}