\name{\VAR{name}}

\personalinfo{
    \BLOCK{ if email } \email{\VAR{email}} \BLOCK{ endif }
    \BLOCK{ if phone } \phone{\VAR{phone}} \BLOCK{ endif }
    \BLOCK{ if address } \location{\VAR{address}} \BLOCK{ endif }
    \BLOCK{ if website } \homepage{\VAR{website}} \BLOCK{ endif }\
}

\makecvheader