\documentclass[fontsize=11pt]{article}
    \usepackage[english]{babel}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage{lmodern}
\usepackage[protrusion=true,expansion=true]{microtype}
\usepackage[svgnames]{xcolor}  % Colours by their 'svgnames'
\usepackage[margin=0.75in]{geometry}
  \textheight=700px
\usepackage{url}
\usepackage{lmodern} % Allow arbitrary font sizes
\usepackage{textcomp}

%% Define a new 'modern' style for the url package that will use a smaller font.
\makeatletter
\def\url@modernstyle{
  \@ifundefined{selectfont}{\def\UrlFont{\sf}}{\def\UrlFont{}}}
\makeatother
\urlstyle{modern} %% And use the newly defined style.

\frenchspacing              % Better looking spacings after periods
\pagestyle{empty}           % No pagenumbers/headers/footers

\renewcommand{\familydefault}{\sfdefault}

%%% Custom sectioning (sectsty package)
%%% ------------------------------------------------------------
\usepackage{sectsty}

\sectionfont{                 % Change font of \section command
  \usefont{OT1}{phv}{b}{n}%   % bch-b-n: CharterBT-Bold font
  \sectionrule{0pt}{0pt}{-5pt}{3pt}}

%%% Macros
%%% ------------------------------------------------------------
\newlength{\spacebox}
\settowidth{\spacebox}{8888888888}      % Box to align text
\newcommand{\sepspace}{\vspace*{1em}}   % Vertical space macro

\newcommand{\MyName}[1]{ % Name
    \Huge \usefont{OT1}{phv}{b}{n} \hfill #1
    \par \normalsize \normalfont}

\newcommand{\MySlogan}[1]{ % Slogan (optional)
    \large \usefont{OT1}{phv}{m}{n}\hfill \textit{#1}
    \par \normalsize \normalfont}

\newcommand{\NewPart}[1]{\section*{\uppercase{#1}}}

\newcommand{\PersonalEntry}[2]{
    \noindent\hangindent=2em\hangafter=0 % Indentation
    \parbox{\spacebox}{                  % Box to align text
    \textit{#1}}                      % Entry name (birth, address, etc.)
    \hspace{1.5em} #2 \par}              % Entry value

\newcommand{\SkillsEntry}[2]{                % Same as \PersonalEntry
    \noindent\hangindent=2em\hangafter=0 % Indentation
    \parbox{\spacebox}{                  % Box to align text
    \textit{#1}}                    % Entry name (birth, address, etc.)
    \hspace{1.5em} #2 \par}              % Entry value

\newcommand{\AwardsEntry}[2]{                % Same as \PersonalEntry
    \noindent\hangindent=2em\hangafter=0 % Indentation
    \parbox{\spacebox}{                  % Box to align text
    \textit{#1}}                    % Entry name (birth, address, etc.)
    \hspace{1.5em} #2 \par}              % Entry value

\newcommand{\EducationEntry}[4]{
    \noindent \textbf{#1} \hfill      % Study
    \colorbox{Black}{
      \parbox{8.5em}{
      \hfill\color{White}#2}} \par  % Duration
    \noindent \textit{#3} \par        % School
    \noindent\hangindent=2em\hangafter=0 \small #4 % Description
    \normalsize \par}

\newcommand{\WorkEntry}[4]{       % Same as \EducationEntry
    \noindent \textbf{#1} \hfill      % Jobname
    \colorbox{Black}{%
      \parbox{9em}{%
      \hfill\color{White}#2}} \par   % Duration
        \noindent \textit{#3} \par        % Company
    \noindent\hangindent=2em\hangafter=0 \small #4 % Description
    \normalsize \par}

\newcommand{\ProjectEntry}[4]{         % Similar to \EducationEntry
    \noindent \textbf{#1} \noindent \textit{#3} \hfill {#2} \par
    \noindent \small #4 % Description
    \normalsize \par}

\newcommand{\AwardEntry}[4]{         % Similar to \EducationEntry
    \noindent \textbf{#1} \noindent \textit{#3} \hfill {#2} \par
    \noindent \small #4 % Description
    \normalsize \par}

\begin{document}

\BLOCK{ for section in section_ordering }

\VAR{sections.get(section, "")}

\BLOCK{ endfor }
\
\end{document}