%==== Profile ====%
\vspace*{-10pt}
\begin{center}
  {\Huge \scshape {\VAR{name}}}\\
  \BLOCK{ if address } \VAR{address} $\cdot$ \BLOCK{ endif }
  \BLOCK{ if email } \VAR{email} $\cdot$ \BLOCK{ endif }
  \BLOCK{ if phone } \VAR{phone} $\cdot$ \BLOCK{ endif }
  \BLOCK{ if website } \VAR{website} \BLOCK{ endif }\
\end{center}