%==== Projects ====%
\header{\VAR{heading}}
\BLOCK{ for project in projects }
\BLOCK{ if project.name } {\textbf{\VAR{project.name}}} \BLOCK{ endif }
\BLOCK{ if project.keywords }
{\sl \VAR{project.keywords[0]}\BLOCK{ for keyword in project.keywords[1:]}, \VAR{keyword}\BLOCK{ endfor } } 
\BLOCK{ endif }
\hfill 
\BLOCK{ if project.url } \VAR{project.url} \BLOCK{ endif }\\
\BLOCK{ if project.description } \VAR{project.description} \BLOCK{ endif }\\
\vspace*{2mm}
\BLOCK{ endfor }