%==== Profile ====%
\begin{tabular*}{7in}{l@{\extracolsep{\fill}}r}
	\textbf{\Large \VAR{name}} & \textit{\BLOCK{ if address } \VAR{address} | \BLOCK{ endif }
  \BLOCK{ if email } \VAR{email} | \BLOCK{ endif }
  \BLOCK{ if phone } \VAR{phone} | \BLOCK{ endif }
  \BLOCK{ if website } \VAR{website} \BLOCK{ endif }\ }
\end{tabular*}