%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%     AWARDS
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\section{Awards} 
\begin{tabular}{rll}
2014	     & top 52/2500  & KPCB Engineering Fellow\\
2014	     & 1\textsuperscript{st}/50  & Microsoft Coding Competition, Cornell\\
2013	     & National  & Jump Trading Challenge Finalist\\
2013     & 7\textsuperscript{th}/120 & CS 3410 Cache Race Bot Tournament  \\
2012     & 2\textsuperscript{nd}/150 & CS 3110 Biannual Intra-Class Bot Tournament \\
2011     & National & Indian National Mathematics Olympiad (INMO) Finalist \\
\end{tabular}
\sectionsep