%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%     EDUCATION
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\section{Education} 

\subsection{Cornell University}
\descript{MEng in Computer Science}
\location{Dec 2014 | Ithaca, NY}
\sectionsep

\subsection{Cornell University}
\descript{BS in Computer Science}
\location{May 2014 | Ithaca, NY}
College of Engineering \\
Magna Cum Laude\\
\location{ Cum. GPA: 3.83 / 4.0 \\
Major GPA: 3.9 / 4.0}
\sectionsep

\subsection{La Martiniere for Boys}
\location{Grad. May 2011|  Kolkata, India}
\sectionsep