%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%     SKILLS
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\section{Skills}
\subsection{Programming}
\location{Over 5000 lines:}
Java \textbullet{}   Shell \textbullet{} Python \textbullet{} Javascript \\
OCaml \textbullet{} Matlab \textbullet{} Rails \textbullet{} \LaTeX\ \\ 
\location{Over 1000 lines:}
C \textbullet{} C++ \textbullet{} CSS \textbullet{} PHP \textbullet{} Assembly \\
\location{Familiar:}
AS3 \textbullet{} iOS \textbullet{} Android \textbullet{} MySQL
\sectionsep