%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%     EXPERIENCE
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\section{Experience}
\runsubsection{Facebook}
\descript{| Software Engineer }
\location{Jan 2015 - Present | New York, NY}
\sectionsep

\runsubsection{Coursera}
\descript{| KPCB Fellow + Software Engineering Intern }
\location{June 2014 – Sep 2014 | Mountain View, CA}
\vspace{\topsep} % Hacky fix for awkward extra vertical space
\begin{tightemize}
\item 52 out of 2500 applicants chosen to be a KPCB Fellow 2014.
\item Led and shipped Yoda - the admin interface for the new Phoenix platform. 
\item Full-stack developer - Wrote and reviewed code for JS using Backbone, Jade, Stylus and Require and Scala using Play
\end{tightemize}
\sectionsep

\runsubsection{Google}
\descript{| Software Engineering Intern }
\location{May 2013 – Aug 2013 | Mountain View, CA}
\begin{tightemize}
\item Worked on the YouTube Captions team, in Javascript and Python to plan, to design and develop the full stack to add and edit Automatic Speech Recognition captions. In production.
\item Created a backbone.js-like framework for the Captions editor.
\end{tightemize}
\sectionsep

\runsubsection{Phabricator}
\descript{| Open Source Contributor \& Team Leader}
\location{Jan 2013 – May 2013 | Palo Alto, CA \& Ithaca, NY}
\begin{tightemize}
\item Phabricator is used daily by Facebook, Dropbox, Quora, Asana and more.
\item I created the Meme generator and more in PHP and Shell.
\item Led a team from MIT, Cornell, IC London and UHelsinki for the project.
\end{tightemize}
\sectionsep