%==== Experience ====%
\header{\VAR{heading}}
\vspace{1mm}
\BLOCK{ for work in works }
\BLOCK{ if work.company } \textbf{\VAR{work.company}} \BLOCK{ endif } 
\BLOCK{ if work.location } \hfill \VAR{work.location} \BLOCK{ endif }\\
\BLOCK{ if work.position } \textit{\VAR{work.position}} \BLOCK{ endif } 
\hfill
\BLOCK{ if work.startDate} \VAR{work.startDate} - \BLOCK{ endif }
\BLOCK{ if work.endDate} \VAR{work.endDate} \BLOCK{ endif }\\
\BLOCK{ if work.highlights }
\vspace{-1mm}
\begin{itemize} \itemsep 1pt
\BLOCK{ for highlight in work.highlights }
    \item \VAR{highlight}
\BLOCK{ endfor }
\end{itemize}
\BLOCK{ endif }

\BLOCK{ endfor }