%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
%     TITLE NAME
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\namesection{\VAR{firstName}}{\VAR{lastName}}{
    \BLOCK{ if address } \VAR{address} | \BLOCK{ endif }
    \BLOCK{ if email } \VAR{email} | \BLOCK{ endif }
    \BLOCK{ if phone } \VAR{phone} | \BLOCK{ endif }
    \BLOCK{ if website } \VAR{website} \BLOCK{ endif }\
}
}