%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%     Projects
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\section{\VAR{heading}}
\BLOCK{ for project in projects }
\runsubsection{\BLOCK{ if project.name } \VAR{project.name} \BLOCK{ endif }}
\descript{\BLOCK{ if project.keywords }
        \BLOCK{if project.keywords[0]} \VAR{"|" + project.keywords[0]} \BLOCK{endif} \BLOCK{ for keyword in project.keywords[1:]}, \VAR{keyword}\BLOCK{ endfor } 
    \BLOCK{ endif }}
\location{\BLOCK{ if project.url } \VAR{project.url} \BLOCK{ endif }}
\BLOCK{ if project.description } \VAR{project.description} \BLOCK{ endif }
\sectionsep\\
\BLOCK{ endfor }
